<section class="content-header">
    <h1>
        Post
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Post</li>
    </ol>
</section>

<section class="content">
    <div class="row"></div>
</section>